.channel {
  background-color: #EEEEEE;
}

.header {
  background-color: #333333;
  padding: 20px;
}

.header__title {
  color: white;
  font-weight: bold;
}

.header__tagline {
  color: white;
  font-weight: 600;
}

.grid {
  padding: 20px;
}

@media (min-width: 550px) {
  .grid {
    padding: 40px;
  }
}

.grid__box {
  margin-bottom: 4%;
}

@media (min-width: 550px) {
  .grid__box {
    margin-bottom: 12%;
  }
}

.video {
  background-color: #F5F5F5;
  box-sizing: border-box;
  box-shadow: 0px 1px 9px rgba(0,0,0,0.25);
  padding: 25px;
  position: relative;
  height: 450px;
  width: 370px;
}

.video:hover {
  background-color: #F9F9F9;
  box-shadow: 0px 1px 5px rgba(0,150,250,0.25);
}

.video__cover {
  border-radius: 2px;
  display: block;
  height: 275px;
  width: 319px;
  object-fit: cover;
  margin: 0 auto;
}

.video__title {
  color: #447777;
  height: 1.6em;
  font-weight: bold;
  font-size: 15px;
  margin: 5px auto;
  text-align: center;
  width: 319px;
  /* truncate text */
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.video__description {
  color: #566670;
  font-size: 15px;
  text-align: center;
  width: 319px;
}

.video__footer {
  position: absolute;
  bottom: 25px;
  color: #566670;
  font-size: 13px;
  font-weight: 600;
}
.video__footer--right {
  right: 25px;
}

.video__stats-icon {
  color: #333333;
  margin: 0 5px 0 10px;
  font-size: 15px;
}

.video__user-icon {
  border-radius: 5px;
  object-fit: cover;
  margin-right: 8px;
  vertical-align: bottom;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
