.channel {
  background-color: #EEEEEE;
}

.header {
  background-color: #566670;
  color: #EEEEEE;
  padding: 10px;
  text-align: center;
}

@media (min-width: 750px) {
  .header {
    height: 275px;
    padding: 20px;
    text-align: left;
  }
}

.header__title {
  font-weight: bold;
  margin-bottom: .2em;
}

.header__tagline {
  font-weight: 600;
  width: 300px;
  margin: 0 auto;
}
@media (min-width: 750px) {
  .header__tagline {
    margin: 0;
  }
}
.header__banner {
  display: none;
}
@media (min-width: 750px) {
  .header__banner {
    display: inline;
    position: absolute;
    top: 60px;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 20px;
}

@media (min-width: 750px) {
  .grid {
    padding-top: 40px;
  }
}

.grid__center {
  width: 370px;
  margin: auto auto;
}

.grid__box {
  margin-bottom: 2%;
  width: 100%;
}
@media (min-width: 750px) {
  .grid__box {
    width: 50%;
  }
}
@media (min-width: 1100px) {
  .grid__box {
    width: 33%;
  }
}
.video {
  background-color: #F5F5F5;
  box-sizing: border-box;
  box-shadow: 0px 1px 9px rgba(0,0,0,0.25);
  padding: 25px;
  position: relative;
  height: 450px;
  width: 370px;
}

.video:hover {
  background-color: #F9F9F9;
  box-shadow: 0px 1px 5px rgba(0,150,250,0.25);
}

.cover {
  margin: 0 auto;
}

.cover:hover .cover__overlay {
  opacity: 0.75;
}

.cover__image {
  border-radius: 2px;
  display: block;
  height: 275px;
  width: 319px;
  object-fit: cover;
}

.cover__overlay {
  position: absolute;
  top: 25px;
  opacity: 0;
  transition: .5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 275px;
  width: 319px;
}

.cover__play-icon {
  color: white;
  font-size: 72px;
}

.cover__length {
  background-color: #000000;
  border-radius: 5px;
  color: white;
  padding: 0px 5px;
  position: absolute;
  bottom: 0;
  right: 5px;
}

.video__title {
  color: #447777;
  height: 1.6em;
  font-weight: bold;
  font-size: 15px;
  margin: 5px auto;
  text-align: center;
  width: 319px;
  /* truncate text */
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.video__description {
  color: #566670;
  font-size: 15px;
  text-align: center;
  width: 319px;
}

.video__footer {
  position: absolute;
  bottom: 25px;
  font-size: 13px;
  font-weight: 600;
}

.video__user {
  color: #566670;
}

.video__footer--right {
  color: #566670;
  right: 25px;
}

.video__stats-icon {
  margin: 0 5px 0 10px;
  font-size: 15px;
}

.video__user-icon {
  border-radius: 5px;
  object-fit: cover;
  margin-right: 8px;
  vertical-align: bottom;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
